.player {
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: default;
    border-radius: 1rem;
    border: 1px solid transparent;
}

.player__symbol {
    font-size: 3rem;
}

.player__name,
.changeNameInput {
    width: 7rem;
    height: 2rem;
    margin-top: 5px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid transparent;
}

.player__name {
    display: grid;
    place-content: center;
    overflow: hidden;
}

.changeNameInput {
    border-radius: calc(1rem / 2);
    outline: none;
    animation: 1s infinite alternate blinker;
    background-color: transparent;
}

.player__edit {
    width: 1.5rem;
    position: absolute;
    bottom: 0;
    left: 100%;
    display: none;
    cursor: pointer;
    transition: 0.3s;
}

.editing {
    display: block;
}

.player__edit:hover {
    transform: scale(1.2);
}

.player:hover .player__edit {
    display: block;
}

.player.X .player__symbol {
    color: var(--color-x);
}

.player.O .player__symbol {
    color: var(--color-o);
}

.player.X.active {
    border-color: var(--color-x);
}

.player.O.active {
    border-color: var(--color-o);
}

@keyframes blinker {
    0% {
        border-color: #fff5;
        color: #fff;
    }

    100% {
        border-color: #fff;
        color: #fff5;
    }
}
